    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
                {{!-- Brand and toggle get grouped for better mobile display --}}
                <div class="nav navbar-nav navbar-right">
                  <form action="/api/scrape" method="GET">
                    <button class="btn btn-lg" type="submit">Get Articles</button>
                  </form>
                  <form action="/api/scrape" method="GET">
                    <button class="btn btn-lg" type="submit">Get Articles</button>
                  </form>
                </div>
            </div>
        </nav>

        <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>Gaming Satellite</h1>
                      <hr class="small">
                      <span class="subheading">Gaming news as vast as Space!<small><i>    not really</i></small></span>
                  </div>
              </div>
          </div>
      </div>
  </header>
